# Willkommen im Python-Workshop

# Kapitel 2: Python-Grundlagen

## Tutorial 2a: Einstieg in Python Google Colab

Gib in die folgende Zelle den Code
```
eine_variable = 42
```
ein. Führe die Zelle aus, indem du auf den Play-Button klickst oder indem du [Shift] und [Enter] drückst.

In der Variablen "eine_variable" ist jetzt der Wert 42 gespeichert.  
Gib den Wert der Variablen aus, indem du in die nächste Zelle folgenden Code eingibst und die Zelle ausführst:  
```
print(eine_variable)
```

42

Innerhalb der Klammern der print()-Anweisung können wir nicht nur Variablen, sondern jeden anderen beliebigen Text ausgeben. Ein Text muss in einfachen ' ' oder doppelten " " Anführungszeichen stehen.  
Gib in die nächste Zelle folgenden Code ein:
```
print("Hallo Python-Workshop")
```

Hallo Python-Workshop

Um Variablen und Text zusammen mit einer print()-Anweisung auszugeben, müssen wir die Variable in Text umwandeln. Dafür nutzen wir die str()-Funktion und "bauen" den Text zusammen.  
Gib in die nächste den folgenden Code an: 
``` 
print("eine_variable hat den Wert: " + str(eine_variable))
```

eine_variable hat den Wert: 42

## Tutorial 2b: Datentypen

In einer Variable können verschiedene Inhalte gespeichert werden. Welche Inhalte zulässig sind, wird durch den Datentyp festgelegt.  
Bei der Initialisierung einer Variablen (d.h. sobald ein Wert zugewiesen wird), wird der Datentyp von Python automatisch bestimmt. Wir können den Datentyp aber auch nacträglich ändern.  
In diesem Workshop arbeiten wir mit den vier wichtigsten Datentypen: 


*   Strings und Chars 
*   Integers und Floats

### Strings und Chars

Chars sind einzelne Zeichen. Ein Text ist eine Kette aus Chars und wir bezeichnen sie in Python als "String". Strings und Chars befinden sich immer in einfachen oder doppelten Anführungszeichen.  Es gibt keine Regel, wann doppelte oder einfach Anführungszeichen verwendet werden. Das kann man sich also aussuchen. 

Ausnahme: Wenn innerhalb des Strings doppelte Anführungszeichen verwendet werden sollen, wird der String mit einfachen Anführungszeichen gestartet und beendet (und umgekehrt)  
Beispiel (führe die nachfolgende Zelle aus):

In [ ]:
print("Als der Bus um die Ecke bog, rief Kesey 'Obacht!'")

Als der Bus um die Ecke bog, rief Kesey 'Obacht!'

Wenn sich der string in der print()-Anweisung befindet, wird er nicht gespeichert. Um ihn zu speichern, müssen wir eine Variable zuweisen, so wie in der nachfolgenden Zelle.  
Ergänz bitte die beiden Sätze und gib beide Sätze aus.

In [ ]:
satzteil1 = "Ich heiße ________"
satzteil2 = "Ich studiere _________"

Ich heiße ________
Ich studiere _________

Jetzt wollen wir beide Satzteile verbinden, ohne sie zu verändern. Das können wir mit dem + Symbol durchführen.  
Verbinde beide Satzteile in einer neuen Variablen text und gib diese aus

Ich heiße ________Ich studiere _________

Das sieht natürlich nicht gut aus. Wir wollen, dass beide Sätze durch einen Punkt und ein Leerzeichen verbunden werden.  
Da es sich auch um einen String handelt, können wir das einfach durch + ". " an der richtigen Stelle durchführen.  
Speicher den Text so, dass er lautet: 
Ich heiße \_\_\_\_\_\_\_\_. Ich studiere \_\_\_\_\_\_\_\_\_\_\_.  
Gib die Variable text wieder aus.

Ich heiße ________. Ich studiere _________.

Über den Index können wir auf die einzelnen Positionen des Strings zugreifen.  
Speicher das erste, das vorletzte Zeichen des Satzes jeweils in einer neuen Variablen und gib diese aus (Tipp: Man kann von beiden Seiten auf einen String zugreifen).

I
_

### Integers und Floats

Zahlenwerte werden als ganze Zahl in() oder als Fließkommazahl float() abgespeichert. Diese Zuweisung erfolgt automatisch durch Python.  
Erstelle drei Variablen:  
```
v1 = 1
v2 = 2
v3 = 3
```

Addiere v1 und v3 und speicher den Wert in der variablen v4.  
Kontrolliere dein Ergebnis, indem du v4 ausgibst.

Mutlipliziere v2 und v4 und speicher das Ergebnis in der neuen Variablen v5. Gib v5 zur Kontrolle aus.

Ziehe von der Variablen v5 den Wert 5 ab und speicher das Ergebnis in der Variablen v6. Gib v6 zur Kontrolle aus.

Berechne v2 zum Quadrat und speicher das Ergebnis in der Variablen v7, die du zur Kontrolle ausgibst.  
Verwende die korrekte Anweisung für Potenzen und nicht die Multiplikation v2 * v2.

Dividiere v7 durch v3 und speicher das Ergebnis in der Variable v8. Gib v8 zur Kontrolle aus.

Berechne v3 modulo v7 und speicher das Ergebnis in der Variable v9.Gib v9 zur Kontrolle aus.

Die Variable v8 kann nun kein int mehr sein. Gibt dir mit der type()-Anweisung den Typ der Variablen v8 aus.

Wandel v8 wieder in einen int um und gib dir das Ergebnis aus. Die Umwandlung bezeichnet man auch als "Casten"

Speicher den Wert 133.7 in der Variablen v10 ab und wandel diese in einen int um. Was ist das Ergebnis?

Speicher den Wert 5 in der Variablen v11 ab und wandel diese in einen float um. Was ist das Ergebnis?

Über Funktionen wie int(), float() und str() lassen sich die Datentypen ineinander umwandeln. Überlege, welche Datentypen problemlos in andere umzuwandeln sind und bei welchen Umwandlungen könnte es Probleme geben?

## Tutorial 2c: Datenstrukturen

### Listen

Zum Abspeichern mehrerer Werte nutzen wir Listen.  
Eine Liste enthält mehrere Werte (oder auch manchmal einen Wert oder keinen Wert). Sie wird mit eckigen Klammern [ ] erstellt.  
Erstelle die folgenden Listen:  
Die erste Liste "fibonacci" enthält die Elemente: 0, 1, 1, 2, 3, 5, 8  
Die zweite Liste "stadte" enthält die Elemente: Peking, New York, Dubai, Witten    
Die dritte Liste "zufall" enthält die Elemente 42, ?, 420, !, :)

In [ ]:
fibonacci = [0, 1, 1, 2, 3, 5, 8]
staedte = ["Peking", "New York", "Dubai", "Witten"]
zufall = [42, "?", 420, "!", ":)"]

Wichtig: Falls in den folgenden Aufgaben einige Elemente deiner Liste fehlen oder zu viele vorhanden sind, führ die obere Zelle mit dem Erstellen der Liste erneut aus und dann alle weiteren Zellen genau ein mal)  

---

Füg zu der Liste stadte die zwei Städte "Paris" und "Warschau" hinzu,  Füg diese Städte zu der Liste hinzu (ohne die Liste in der oberen Zelle zu verändern).

In [ ]:
staedte.append("Paris")
staedte.append("Warschau")

Gib zur Kontrolle das letzte Element der Liste, das vorletzte Element der Liste und die gesamte Liste aus.

In [ ]:
print(staedte[-1])
print(staedte[-2])
print(staedte)

Warschau
Paris
['Peking', 'New York', 'Dubai', 'Witten', 'Paris', 'Warschau']

Die Stadt New York soll gegen Toronto ersetzt werden. Greif hierfür auf New York über den Index der Liste zu und schreibe Toronto an diese Stelle. Gib auch danach die Liste mit den Städten wieder aus.

In [ ]:
staedte[1] = "Toronto"
print(staedte)

['Peking', 'Toronto', 'Dubai', 'Witten', 'Paris', 'Warschau']

Spontan hast du dich doch gegen die Stadt Warschau entschieden. Entferne diese Stadt wieder aus der Liste. Gib die Liste und das Element aus. Was passiert wenn du die Zelle mehrmals ausführst?

In [ ]:
entfernte_stadt = staedte.pop()
print(staedte)
print(entfernte_stadt)

['Peking', 'Toronto', 'Dubai', 'Witten', 'Paris']
Warschau

Erstelle eine Liste "zwei_staedte", die nur die Städte der zweiten und dritten Position der Städteliste enthält. Gib diese neue Städteliste aus.

In [ ]:
zwei_staedte = staedte[1:3]
print(zwei_staedte)

['Toronto', 'Dubai']

Hier sind zusätzliche Informationen, wie du die extend()-, die sort()- und die reverse()-Anweisung anwendest:

In [ ]:
# Kombination zweier Listen mit der .extend()-Methode
eine_kurze_liste = [0, 0, 7]
eine_andere_liste = [2, 4, 1, 2]
eine_andere_liste.extend(eine_kurze_liste) 
print(eine_andere_liste)

[2, 4, 1, 2, 0, 0, 7]

In [ ]:
# Listen sortieren mit der list.sort()-Methode
eine_andere_liste.sort()
print(eine_andere_liste)

[0, 0, 1, 2, 2, 4, 7]

In [ ]:
# Listen umkehren mit der .reverse()-Methode
eine_andere_liste.reverse()
print(eine_andere_liste)

[7, 4, 2, 2, 1, 0, 0]

### Dictionaries

In Dictionaries werden Key-Value-Paare gespeichert.  
Schreibe ein Dictionary reiseziele, in dem du folgende Städte als Key und ensprechende Sehenswürdigkeiten als Value einsetzt:   
Stadt: Paris, Ziel: Eiffelturm  
Stadt: Berlin, Ziel: Brandenburger Tor   
Stadt: London, Ziel: Big Ben.

Füg dem Dictionary eine neue Stadt "Rom" mit dem Reiseziel "Kolosseum" hinzu und gib das Dictionary aus.

Wie war noch gleich das Reiseziel von Berlin? Gib dessen Sehenswürdigkeit aus, indem du über den entsprechenden Key des Dictionarys auf den Value zugreifst.

Brandenburger Tor

Ersetze die Sehenswürdigkeit von Berlin durch den "Fernsehturm".  
Kontrolliere deine Einstellung, indem du einen folgenden Satz ausgibst:  
"In Berlin ist der *Fernsehturm*". Das Wort "Fernsehturm" schreibst du nicht direkt, sondern lässt es dir durch Aufrufen des Dictionarys einsetzen.

In Berlin ist der Fernsehturm

Wie viele Orte wollen wir insgesamt besuchen? Gib den Wert über die Länge des Dictionaries aus.

4

Kleine Transferaufgabe:  
Lass dir die die Sehenswürdigkeiten aller drei Städte ausgeben und speicher sie in einer Liste.  
Tipp: Erstell zunächste eine leere Liste (die du z.B. ziele_liste nennst) und füg danach die einzelnen Sehenswürdigkeiten hinzu. (Hierfür hatten wir eine built-in-Funktion von Listen besprochen) 
Gib dir die Liste am Ende aus.

{'Paris': 'Eiffelturm', 'Berlin': 'Fernsehturm', 'London': 'Big Ben', 'Rom': 'Kolosseum'}

### Tupel

Tupel eignen sich gut, um Informationen zusammenzufassen.  
Daher fassen wir jetzt folgende Informationen in einem Tupel zusammen:  
Stadt, Land, Aufenthalt in Tagen, Sehenswürdigkeiten.  

Beispielsweise:


```
paris_information = ("Paris", "Frankreich", 3, "Eiffelturm", "Versailles")
```
Leg das Tupel paris_information an und noch zwei weitere Tupel mit folgendem Inhalt:   
london_information: "London", "England", 5, "Big Ben", "Buckingham Palace", "Hyde Park"  
berlin_information: "Berlin", "Deutschland", 4, "Fernsehturm"

Entpacke das Tupel paris_information, indem du die Werte den Variablen stadt, land, tage_aufenthalt, ziel1, ziel2 zuweist. Gibt die neuen Variablen aus.

Tupel können eine unterschiedliche Länge haben. Wir können mit einem Index auf die Position des Tupels zugreifen.  
Gib folgende Sätze aus:   
Ich bin \*3* Tage in \*Paris* und besuche den \*Eiffelturm* .  
\*London* befindet sich in \*England\*. Ich besuche den \*Hyde Park\*.   
Während meines \*4\*-tägigen Aufenthalts in \*Berlin* besuche ich den \*Fernsehturm\*.  
Alle Wörter in Sternchen \* gibst du über das Tupel und den entsprechenden Index an. Wenn du magst, kannst du die Sätze kopieren, anstatt sie zu tippen.

Ich bin 3 Tage in Paris und besuche den Eiffelturm

London befindet sich in England. Ich besuche den Hyde Park

Während meines 4-tägigen Aufenthalts in Berlin besuche ich den Fernsehturm.

# Lösungen zu Kapitel 2

## Tutorial 2a

Gib in die folgende Zelle den Code
```
eine_variable = 42
```
ein. Führe die Zelle aus, indem du auf den Play-Button klickst oder indem du [Shift] und [Enter] drückst.

In [ ]:
eine_variable = 42

In der Variablen "eine_variable" ist jetzt der Wert 42 gespeichert.  
Gib den Wert der Variablen aus, indem du in die nächste Zelle folgenden Code eingibst und die Zelle ausführst:  
```
print(eine_variable)
```

In [ ]:
print(eine_variable)

42

Innerhalb der Klammern der print()-Anweisung können wir nicht nur Variablen, sondern jeden anderen beliebigen Text ausgeben. Ein Text muss in einfachen ' ' oder doppelten " " Anführungszeichen stehen.  
Gib in die nächste Zelle folgenden Code ein:
```
print("Hallo Python-Workshop")
```

In [ ]:
print("Hallo Python-Workshop")

Hallo Python-Workshop

Um Variablen und Text zusammen mit einer print()-Anweisung auszugeben, müssen wir die Variable in Text umwandeln. Dafür nutzen wir die str()-Funktion und "bauen" den Text zusammen.  
Gib in die nächste den folgenden Code an: 
``` 
print("eine_variable hat den Wert: " + str(eine_variable))
```

In [ ]:
print("eine_variable hat den Wert: " + str(eine_variable))

eine_variable hat den Wert: 42

## Tutorial 2b

In einer Variable können verschiedene Inhalte gespeichert werden. Welche Inhalte zulässig sind, wird durch den Datentyp festgelegt.  
Bei der Initialisierung einer Variablen (d.h. sobald ein Wert zugewiesen wird), wird der Datentyp von Python automatisch bestimmt. Wir können den Datentyp aber auch nacträglich ändern.  
In diesem Workshop arbeiten wir mit den vier wichtigsten Datentypen: 


*   Strings und Chars 
*   Integers und Floats

### Strings und Chars

Chars sind einzelne Zeichen. Ein Text ist eine Kette aus Chars und wir bezeichnen sie in Python als "String". Strings und Chars befinden sich immer in einfachen oder doppelten Anführungszeichen.  Es gibt keine Regel, wann doppelte oder einfach Anführungszeichen verwendet werden. Das kann man sich also aussuchen. 

Ausnahme: Wenn innerhalb des Strings doppelte Anführungszeichen verwendet werden sollen, wird der String mit einfachen Anführungszeichen gestartet und beendet (und umgekehrt)  
Beispiel (führe die nachfolgende Zelle aus):

In [ ]:
print("Als der Bus um die Ecke bog, rief Kesey 'Obacht!'")

Als der Bus um die Ecke bog, rief Kesey 'Obacht!'

Wenn sich der string in der print()-Anweisung befindet, wird er nicht gespeichert. Um ihn zu speichern, müssen wir eine Variable zuweisen, so wie in der nachfolgenden Zelle.  
Ergänz bitte die beiden Sätze und gib beide Sätze aus.

In [ ]:
satzteil1 = "Ich heiße ________"
satzteil2 = "Ich studiere _________"

In [ ]:
print(satzteil1)
print(satzteil2)

Ich heiße ________
Ich studiere _________

Jetzt wollen wir beide Satzteile verbinden, ohne sie zu verändern. Das können wir mit dem + Symbol durchführen.  
Verbinde beide Satzteile in einer neuen Variablen text und gib diese aus

In [ ]:
text = satzteil1 + satzteil2
print(text)

Ich heiße ________Ich studiere _________

Das sieht natürlich nicht gut aus. Wir wollen, dass beide Sätze durch einen Punkt und ein Leerzeichen verbunden werden.  
Da es sich auch um einen String handelt, können wir das einfach durch + ". " an der richtigen Stelle durchführen.  
Speicher den Text so, dass er lautet: 
Ich heiße \_\_\_\_\_\_\_\_. Ich studiere \_\_\_\_\_\_\_\_\_\_\_.  
Gib die Variable text wieder aus.

In [ ]:
text = satzteil1 + ". " + satzteil2 + "."
print(text)

Ich heiße ________. Ich studiere _________.

Über den Index können wir auf die einzelnen Positionen des Strings zugreifen.  
Speicher das erste, das vorletzte Zeichen des Satzes jeweils in einer neuen Variablen und gib diese aus (Tipp: Man kann von beiden Seiten auf einen String zugreifen).

In [ ]:
mein_char1 = text[0] 
mein_char2 = text[-2]
print(mein_char1)
print(mein_char2)

I
_

### Integers und Floats

Zahlenwerte werden als ganze Zahl in() oder als Fließkommazahl float() abgespeichert. Diese Zuweisung erfolgt automatisch durch Python.  
Erstelle drei Variablen:  
```
v1 = 1
v2 = 2
v3 = 3
```

In [ ]:
v1 = 1
v2 = 2
v3 = 3

Addiere v1 und v3 und speicher den Wert in der variablen v4.  
Kontrolliere dein Ergebnis, indem du v4 ausgibst.

In [ ]:
v4 = v1 + v3
print(v4)

4

Mutlipliziere v2 und v4 und speicher das Ergebnis in der neuen Variablen v5. Gib v5 zur Kontrolle aus.

In [ ]:
v5 = v2 * v4
print(v5)

8

Ziehe von der Variablen v5 den Wert 5 ab und speicher das Ergebnis in der Variablen v6. Gib v6 zur Kontrolle aus.

In [ ]:
v6 = v5 - 5
print(v6)

3

Berechne v2 zum Quadrat und speicher das Ergebnis in der Variablen v7, die du zur Kontrolle ausgibst.  
Verwende die korrekte Anweisung für Potenzen und nicht die Multiplikation v2 * v2.

In [ ]:
v7 = v2 ** 2
print(v7)

4

Dividiere v7 durch v3 und speicher das Ergebnis in der Variable v8. Gib v8 zur Kontrolle aus.

In [ ]:
v8 = v7 / v3
print(v8)

1.3333333333333333

Berechne v3 modulo v7 und speicher das Ergebnis in der Variable v9.Gib v9 zur Kontrolle aus.

In [ ]:
v9 = v7 % v3
print(v9)

1

Die Variable v8 kann nun kein int mehr sein. Gibt dir mit der type()-Anweisung den Typ der Variablen v8 aus.

In [ ]:
print(type(v8))

<class 'float'>

Wandel v8 wieder in einen int um und gib dir das Ergebnis aus. Die Umwandlung bezeichnet man auch als "Casten"

In [ ]:
print(int(v8))

1

Speicher den Wert 133.7 in der Variablen v10 ab und wandel diese in einen int um. Was ist das Ergebnis?

In [ ]:
v10 = 133.7
print(int(133.7))

133

Speicher den Wert 5 in der Variablen v11 ab und wandel diese in einen float um. Was ist das Ergebnis?

In [ ]:
v11 = 5
print(float(v11))

5.0

Über Funktionen wie int(), float() und str() lassen sich die Datentypen ineinander umwandeln. Überlege, welche Datentypen problemlos in andere umzuwandeln sind und bei welchen Umwandlungen könnte es Probleme geben?

## Tutorial 2c

### Listen

Zum Abspeichern mehrerer Werte nutzen wir Listen.  
Eine Liste enthält mehrere Werte (oder auch manchmal einen Wert oder keinen Wert). Sie wird mit eckigen Klammern [ ] erstellt.  
Erstelle die folgenden Listen:  
Die erste Liste "fibonacci" enthält die Elemente: 0, 1, 1, 2, 3, 5, 8  
Die zweite Liste "stadte" enthält die Elemente: Peking, New York, Dubai, Witten    
Die dritte Liste "zufall" enthält die Elemente 42, ?, 420, !, :)

In [ ]:
fibonacci = [0, 1, 1, 2, 3, 5, 8]
staedte = ["Peking", "New York", "Dubai", "Witten"]
zufall = [42, "?", 420, "!", ":)"]

Wichtig: Falls in den folgenden Aufgaben einige Elemente deiner Liste fehlen oder zu viele vorhanden sind, führ die obere Zelle mit dem Erstellen der Liste erneut aus und dann alle weiteren Zellen genau ein mal)  

---
Füge zu der Liste stadte die zwei Städte "Paris" und "Warschau" hinzu,  Füg diese Städte zu der Liste hinzu (ohne die Liste in der oberen Zelle zu verändern).

In [ ]:
staedte.append("Paris")
staedte.append("Warschau")

Gib zur Kontrolle das letzte Element der Liste, das vorletzte Element der Liste und die gesamte Liste aus.

In [ ]:
print(staedte[-1])
print(staedte[-2])
print(staedte)

Warschau
Paris
['Peking', 'New York', 'Dubai', 'Witten', 'Paris', 'Warschau']

Die Stadt New York soll gegen Toronto ersetzt werden. Greif hierfür auf New York über den Index der Liste zu und schreibe Toronto an diese Stelle. Gib auch danach die Liste mit den Städten wieder aus.

In [ ]:
staedte[1] = "Toronto"
print(staedte)

['Peking', 'Toronto', 'Dubai', 'Witten', 'Paris', 'Warschau']

Spontan hast du dich doch gegen die Stadt Warschau entschieden. Entferne diese Stadt wieder aus der Liste. Gib die Liste und das Element aus. Was passiert wenn du die Zelle mehrmals ausführst?

In [ ]:
entfernte_stadt = staedte.pop()
print(staedte)
print(entfernte_stadt)

['Peking', 'Toronto', 'Dubai', 'Witten', 'Paris']
Warschau

Erstelle eine Liste "zwei_staedte", die nur die Städte der zweiten und dritten Position der Städteliste enthält. Gib diese neue Städteliste aus.

In [ ]:
zwei_staedte = staedte[1:3]
print(zwei_staedte)

['Toronto', 'Dubai']

### Dictionaries

In Dictionaries werden Key-Value-Paare gespeichert.  
Schreibe ein Dictionary reiseziele, in dem du folgende Städte als Key und ensprechende Sehenswürdigkeiten als Value einsetzt:   
Stadt: Paris, Ziel: Eiffelturm  
Stadt: Berlin, Ziel: Brandenburger Tor   
Stadt: London, Ziel: Big Ben.

In [ ]:
reiseziele = {"Paris": "Eiffelturm", "Berlin": "Brandenburger Tor", "London": "Big Ben"}

Füg dem Dictionary eine neue Stadt "Rom" mit dem Reiseziel "Kolosseum" hinzu und gib das Dictionary aus.

In [ ]:
reiseziele["Rom"] = "Kolosseum" 
print(reiseziele)

{'Paris': 'Eiffelturm', 'Berlin': 'Brandenburger Tor', 'London': 'Big Ben', 'Rom': 'Kolosseum'}

Wie war noch gleich das Reiseziel von Berlin? Gib dessen Sehenswürdigkeit aus, indem du über den entsprechenden Key des Dictionarys auf den Value zugreifst.

In [ ]:
print(reiseziele["Berlin"])

Brandenburger Tor

Ersetze die Sehenswürdigkeit von Berlin durch den "Fernsehturm".  
Kontrolliere deine Einstellung, indem du einen folgenden Satz ausgibst:  
"In Berlin ist der *Fernsehturm*". Das Wort "Fernsehturm" schreibst du nicht direkt, sondern lässt es dir durch Aufrufen des Dictionarys einsetzen.

In [ ]:
reiseziele["Berlin"] = "Fernsehturm"
print("In Berlin ist der " + str(reiseziele["Berlin"]))

In Berlin ist der Fernsehturm

Wie viele Orte wollen wir insgesamt besuchen? Gib den Wert über die Länge des Dictionaries aus.

In [ ]:
print(len(reiseziele))

4

Kleine Transferaufgabe:  
Lass dir die die Sehenswürdigkeiten aller drei Städte ausgeben und speicher sie in einer Liste.  
Tipp: Erstell zunächste eine leere Liste (die du z.B. ziele_liste nennst) und füg danach die einzelnen Sehenswürdigkeiten hinzu. (Hierfür hatten wir eine built-in-Funktion von Listen besprochen) 
Gib dir die Liste am Ende aus.

In [ ]:
ziele_liste = []
ziele_liste.append(reiseziele["Paris"])
ziele_liste.append(reiseziele["Berlin"])
ziele_liste.append(reiseziele["Rom"])
print(reiseziele)

{'Paris': 'Eiffelturm', 'Berlin': 'Fernsehturm', 'London': 'Big Ben', 'Rom': 'Kolosseum'}

### Tupel

Tupel eignen sich gut, um Informationen zusammenzufassen.  
Daher fassen wir jetzt folgende Informationen in einem Tupel zusammen:  
Stadt, Land, Aufenthalt in Tagen, Sehenswürdigkeiten.  

Beispielsweise:


```
paris_information = ("Paris", "Frankreich", 3, "Eiffelturm", "Versailles")
```
Leg das Tupel paris_information an und noch zwei weitere Tupel mit folgendem Inhalt:   
london_information: "London", "England", 5, "Big Ben", "Buckingham Palace", "Hyde Park"  
berlin_information: "Berlin", "Deutschland", 4, "Fernsehturm"

In [ ]:
paris_information = ("Paris", "Frankreich", 3, "Eiffelturm", "Versailles")
london_information = ("London", "England", 5, "Big Ben", "Buckingham Palace", "Hyde Park") 
berlin_information = ("Berlin", "Deutschland", 4, "Fernsehturm")

Entpacke das Tupel paris_information, indem du die Werte den Variablen stadt, land, tage_aufenthalt, ziel1, ziel2 zuweist. Gibt die neuen Variablen aus.

In [ ]:
stadt, land, tage_aufenthalt, ziel1, ziel2 = paris_information
print(stadt)
print(land)
print(tage_aufenthalt)
print(ziel1)
print(ziel2)

Paris
Frankreich
3
Eiffelturm
Versailles

Tupel können eine unterschiedliche Länge haben. Wir können mit einem Index auf die Position des Tupels zugreifen.  
Gib folgende Sätze aus:   
Ich bin \*3* Tage in \*Paris* und besuche den \*Eiffelturm* .  
\*London* befindet sich in \*England\*. Ich besuche den \*Hyde Park\*.   
Während meines \*4\*-tägigen Aufenthalts in \*Berlin* besuche ich den \*Fernsehturm\*.  
Alle Wörter in Sternchen \* gibst du über das Tupel und den entsprechenden Index an. Wenn du magst, kannst du die Sätze kopieren, anstatt sie zu tippen.

In [ ]:
print("Ich bin " + str(paris_information[2]) + " Tage in " + str(paris_information[0]) + " und besuche den " + str(paris_information[3]))

Ich bin 3 Tage in Paris und besuche den Eiffelturm

In [ ]:
print(str(london_information[0]) + " befindet sich in " + str(london_information[1]) +". Ich besuche den " + str(london_information[5]))

London befindet sich in England. Ich besuche den Hyde Park

In [ ]:
print("Während meines " + str(berlin_information[2]) + "-tägigen Aufenthalts in " + str(berlin_information[0]) + " besuche ich den " + str(berlin_information[3] + "."))

Während meines 4-tägigen Aufenthalts in Berlin besuche ich den Fernsehturm.